@import 'tailwindcss';
@import '@fontsource-variable/geist/index.css';
@import '@fontsource-variable/geist-mono/index.css';

html {
  font-family: "Geist Variable", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: "Geist Mono Variable", monospace;
}

body {
  background-color: #ffffff;
  /* Base background */
  background-image:
    linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 48px 48px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
    /* Set dark base background */
    background-image:
      linear-gradient(to right, #1e1e1e 1px, transparent 1px),
      linear-gradient(to bottom, #1e1e1e 1px, transparent 1px);
    background-size: 48px 48px;
  }
}
* {
  cursor: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}