@import 'tailwindcss';

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-repeat: repeat;
  background: linear-gradient(90deg, #fafafa calc(32px - 1px), transparent 1%) center,
              linear-gradient(#fafafa calc(32px - 1px), transparent  1%) center,
              #262626;
  background-size: 32px 32px;
}

* {
  cursor: none !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
